.dir-item {
	cursor: pointer;
	margin: 20px;

	width: 150px;
	height: 150px;

	display: flex;
	flex-direction: column;

	img {
		width: 100%;
	}


	&__name {
		padding: 0 6px;
		color: white;
	}
}

.dir-item-active {
	background: rgba($color: #c5c5c5, $alpha: 0.5);
}